.calculator {
    width: 330px;
    margin: 0 auto;
    background-color: #f1f1f1;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.heading{
    align-items: center;
    color: brown;
}
.input-bar {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

input[type="text"] {
    flex: 1;
    padding: 10px;
    font-size: 24px;
    text-align: right;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    background-color: antiquewhite;
}

.c{
    background-color: #f44336;
    color: #fff;
    padding: 12px 15px; /* Adjust the padding values as needed */
    font-size: 19px; /* Adjust the font-size as needed */
}

button {
    padding: 35px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #e0e0e0;
    color: #000;
    background-color: bisque;
}

button:hover {
    background-color:rgb(251, 178, 69)
}

